<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctionseventiq.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1a0c68da-70f6-458c-abdb-b36aacfcb646/resourceGroups/AzureFunctionTeste/providers/Microsoft.Web/sites/AzureFunctionsEventiq</ResourceId>
    <UserName>$AzureFunctionsEventiq</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurefunctionseventiq.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>